{
  "Canon EOS R6 Mark II": "R6M2",
  "Canon EOS R5": "R5",
  "Canon EOS 5D Mark IV": "5DM4",
  "ILCE-7M4": "A7M4",
  "ILCE-7RM5": "A7RM5",
  "ILCE-1": "A1",
  "ILCE-9M3": "A9M3",
  "NIKON Z 8": "Z8",
  "NIKON Z 6_2": "Z6M2",
  "iPhone 15 Pro": "iPhone15Pro"
}
